html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Kulim Park", sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons li {
  margin: 10px;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .maincontent {
    display: flex;
    flex-direction: column; /* Change to vertical layout */
    align-items: center;
  }
  
  .maincontent a {
    margin: 30px; /* Adjust margins for mobile */
    font-size: 30px; /* Adjust font size for mobile */
  }

  .footer-icons li {
    margin: 5px; /* Adjust margins for mobile */
    font-size: 24px; /* Adjust font size for mobile */
  }
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincontent a {
  margin: 0 200px;
  text-decoration: none;
  color: #fff;
  font-size: 50px;
}